body {
    background-color: #ededed;
}
.firmaHeader {
    background: url("assets/headerFirmaDesktop.png");
    height: 119vh;
    background-size: cover;
    background-repeat: no-repeat;
}
.firmaHeader2 {
    background: url("assets/headerFirma.png");
    height: 30vh;
    background-size: cover;
    margin-bottom: 50px;
}
.infoContainer {
    width: 70vw;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    display: block;
}
.title, .title-lic {
    color: #ff5800;
    font-size: 26px;
}
.title-lic { font-size: 35px; margin-bottom: 1.25rem; }
.subtitle {
    color: #4C4C4C;
    font-size: 22px;
}
.cuerpo {
    font-size: 20px;
    color: #4C4C4C;
    text-align:justify;
}
.bg-la-firma {
    background-image: url("assets/headerFirmaMobile.png");
	background-position: center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
@media( max-width: 990px ) {}
@media( max-width: 767px ) {
    .bg-la-firma {
        height: 300px;
        background-image: url("assets/headerFirmaDesktop.png");
    }
}
@media( max-width: 576px ) {}