body {
    background-color: #ff5800;
}
.header {
    background: url("assets/gradientWWUsDesktop.png");
    height: 50vh;
    background-size: cover;
    background-repeat: no-repeat;
}
.header2 {
    background: url("assets/gradientWWUs.png");
    height: 30vh;
    background-size: cover;
    background-repeat: no-repeat;
}
.wwusTitle {
    width: 100%;
}
.form {
    color: white;
    margin-bottom: 100px;
}
.wwusTitle {
    text-align: center;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}
.wwusFormDiv {
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    display: block;
    margin-top: 30px;
}
.wwusInput {
    background-color: transparent;
    border: none;
    border-bottom: 3px solid #E0E0E0;
    color: #E0E0E0;
    width: 50vw;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    display: block;
    margin-bottom: 70px;
    font-size: 20px;
    outline: none;
}
.wwusInput::placeholder {
    color: #E0E0E0;
}
.wwusCVButton {
    background-color: transparent;
    border: solid 3px #E0E0E0;
    color: #E0E0E0;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}
.wwusCVButton:hover {
    color: #ff5800;
    background-color: #E0E0E0;
}
button {
    outline: none;
}
.wwusSendButton {
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 7px;
    padding-bottom: 7px;
    background-color: white;
    border: none;
    font-size: 20px;
    margin-top: 50px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transition: background-color 0.2s ease-in-out;
}
.wwusSendButton:hover {
    background-color: #E0E0E0;
}
.tC {
    color: white;
    padding-bottom: 20px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    display: block;
}
.tC:hover {
    color: white;
}